<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetProject.Entities.Properties.Settings.PetProjectDBConnectionString"
            connectionString="Data Source=petproject.database.windows.net;Initial Catalog=petprojectdb;User ID=javieresc97;Password=.jaaneses..1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>