@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Somos estudiantes de Ingeniería de Software de la Universidad Privada Antenor Orrego de Trujillo, Perú.</p>
