@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>Estamos trabajando en esto.</h3>

<address>
    Universidad Privada Antenor Orrego<br />
    Av. América Sur<br />
    <abbr title="Phone">Tlf:</abbr>
    044 - 420193
</address>

<address>
    <strong>Javier Escobar:</strong>   <a href="mailto:javieresc97@hotmail.com">Javieresc97@hotmail.com</a><br />
</address>