@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Pet Project</h1>
    <p class="lead"></p>
    <p><a href="http://petprojectapi.azurewebsites.net" class="btn btn-primary btn-lg">Ver API</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>¿Qué es Pet Project?</h2>
        <p>
            Pet Project es un sistema integrado de salud para clínicas veterinarias, veterinarios 
            independientes y dueños de mascotas.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Soy dueño de mascota, ¿cómo unirme?</h2>
        <p>
            ¡Fácil! Solo llena nuestro formulario de registro, te pediremos algunos datos propios
            para conocerte y luego podrás registrar todas tus mascotas en la aplicación.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Registrarse &raquo;</a></p>
    </div>
</div>